<div class='text-center'>
  
  <h1 class='page-header'> Restaurants ranked: </h1>

  <% @restaurants.each do |restaurant| %>
    <div>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> (<%= five_star_rating(restaurant.reviews) %> Stars)
    </div>
  <% end %>

  <div class='pagy-nav container'> 
    <%== pagy_bootstrap_nav(@pagy) if @pagy.count > 20 %>
  </div>

</div>