<div class='text-center'>
  
  <h2> Restaurants ranked: </h2>

  <% @restaurants.each do |restaurant| %>
    <div>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> (<%= five_star_rating(restaurant.reviews) %> Stars)
    </div>
  <% end %>

</div>