// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.restaurant-photo {
  width: 192px;

  &:hover {
    transform: scale(1.15);
  }
}

.restaurant-table {
  margin: 6em 0 0 0;
  text-align: center;

  &.restaurant-table-header {
    width: 400px;
  }
}

.pagy-nav {  
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}

.add-restaurant {
  float: right;
}

.page-header {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}