// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.restaurant-photo {
  width: 192px;

  &:hover {
    transform: scale(1.15);
  }
}

.restaurant-table {
  margin: 2em 0 2em 0;
  text-align: center;

  &.restaurant-table-header {
    width: 400px;
  }
}

.pagy-nav {  
  display: flex;
  justify-content: center;
}